body{
    background-image: url('https://i.imgur.com/jC6aDiW.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}


h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 100px;
    color: white;
    text-align: center;
}

p{
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    color: white;
}
.top-buttons{
    text-align: center;

}

/* stats bar... may add opacity to make clearer */
.stats-area{ 
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* Buttons for stats */
.feedBtn{
    font-size: 20px;
    background-color: rgb(115, 68, 132);
    border: white;
    border-radius: 8px;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 15px 32px;
  }

  .feedBtn:hover {
    background-color: rgb(199, 154, 215);
    transition: 0.7s;
    color: white;
}

  .playBtn{
    font-size: 20px;
    background-color: rgb(115, 68, 132);
    border: white;
    border-radius: 8px;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 15px 32px;  
  }

  .playBtn:hover {
    background-color: rgb(199, 154, 215);
    transition: 0.7s;
    color: white;
}
  
  .sleepBtn{
    font-size: 20px;
    background-color: rgb(115, 68, 132);
        border: white;
    border-radius: 8px;
    border-width: 5px;
    border-color: white;
    color: white;
    padding: 15px 32px;  }

    .sleepBtn:hover {
        background-color: rgb(199, 154, 215);
        transition: 0.7s;
        color: white;
    }









/* Animate my lil guy */
@keyframes side-to-side {
    from {left: 80%;}
    to {left: 20%;}
  }
  /* hop setting */
  @keyframes hop {
    from {top: 55%};
    to {bottom:48%};
  }

  #sprite{

    position: absolute;
    width: 138px;
    height: 132px;
    top: 60%;
    left: 100%;
    animation-name:  side-to-side, hop;
    animation-duration: 3.5s, .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
  }