body{
    background-image: url('https://i.imgur.com/jC6aDiW.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}


h1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 100px;
    color: white;
    text-align: center;
}


.top-buttons{
    text-align: center;


}

  
  #sprite{

    position: absolute;
    width: 138px;
    height: 132px;
    top: 60%;
    left: 100%;
    
  }